<div class="div-2">
<div align="center">
	<h1>VOILOU</h1>
</div>
<br>
<div align="center">
<%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: 'link-to-text-color' %></li>
</div>
</div>